#loremipsum-container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 7.4rem;
}

#loremipsum-scope{
    width: 117rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3.2rem;
}

#loremipsum-scope > h3{
    font-size: 3rem;
    font-weight: 600;
    line-height: 5.625rem;
    color: #fff;
}

#loremipsum-scope > p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: left;
    width: 54.5rem;
    height: 5.7rem;
    color: #fff;
}

#loremipsum-card{
    width: 117rem;
    height: 18.9rem;
    border-radius: 1.5rem;
    background: #1C140F;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 4.232rem;
}

#loremipsum-desc{
    width: 63.6rem;
    height: 10.7rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

#loremipsum-desc > h3{
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 500;
    line-height: 4.5rem;
    text-align: left;
    color: #fff;
}

#loremipsum-desc > p{
    font-family: Poppins;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.55rem;
    text-align: left;
    color: #fff;
    width: 53.6rem;
    margin-bottom: -0.5rem;

}

#loremipsum-inputgroup{
    width: 38.568rem;
    height: 4.8rem;
    border-radius: 0.8rem;
    opacity: 0px;
    background-color: #fff;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

#loremipsum-inputgroup > input{
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.95rem;

    margin-left: 2.055rem;
    width: 15.51rem;
    height: 2rem;
}

#loremipsum-inputgroup > input:focus{
    outline: none;
    border: none;
}


#loremipsum-inputgroup > button{
    width: 10.5rem;
    height: 3.7rem;
    border-radius: 0.8rem;
    background: #DC7000;

    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.95rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-right: 0.974rem;
}




@media (max-width: 1215px) {
    #loremipsum-desc > p{
        max-width: 63.6rem;
        width: auto;
    }
    #loremipsum-scope{
        width: 100%;
        padding: 0 5%;
    }

    #loremipsum-scope > p{
        max-width: 54.5rem;
        width: auto;
    }

    #loremipsum-card{
        width: 100%;
        padding: 5%;
        height: auto;
        border-radius: 0;
    }

    #loremipsum-desc{
        max-width: 63.6rem;
        width: 100%;
    }
    

    #loremipsum-inputgroup{
        width: 100%;
        height: 6rem;
        border-radius: 0.8rem;
    }
    #loremipsum-inputgroup > input{
        width: 100%;
        font-size: 1.6rem;
        height: 100%;
    }

    #loremipsum-inputgroup > button{
        width: 15rem;
        height: 5.2rem;
        font-size: 1.6rem;
        border-radius: 0.8rem;
    }
} 